<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dam.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_field"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_field_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutbolParaTroncos.NoActionBar"
        android:screenOrientation="portrait"

        android:usesCleartextTraffic="true">
        <activity android:name="dam.app.activity.ActivityComments" android:screenOrientation="portrait" android:label="@string/activity_comments_label" />
        <activity android:name="dam.app.activity.ActivityFields" android:label="@string/activity_fields_label"  />
        <activity android:name="dam.app.activity.ActivityNewComment" android:label="@string/activity_new_comment_label" />
        <activity android:name="dam.app.activity.ActivityNewReserve" android:label="@string/activity_new_reserves_label" />
        <activity android:name="dam.app.activity.ActivityRegisterUser" android:label="@string/activity_register_user_label" />
        <activity android:name="dam.app.activity.ActivityReserves" android:label="@string/activity_reserves_label" />
        <activity android:name="dam.app.activity.ActivitySession" android:label="@string/activity_session_label" />
        <activity android:name="dam.app.activity.ActivityMenu" android:label="@string/name_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>