<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dam.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_field"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_field_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutbolParaTroncos.NoActionBar"

        android:usesCleartextTraffic="true">
        <activity android:name="dam.app.activity.ActivityComments" android:screenOrientation="portrait" android:label="COMENTARIOS" />
        <activity android:name="dam.app.activity.ActivityFields" android:label="CANCHAS" />
        <activity android:name="dam.app.activity.ActivityMenu" android:label="INICIAR SESIÓN" />
        <activity android:name="dam.app.activity.ActivityNewComment" android:label="RESEÑAR" />
        <activity android:name="dam.app.activity.ActivityNewReserve" android:label="RESERVAR" />
        <activity android:name="dam.app.activity.ActivityRegisterUser" android:label="REGISTRARSE" />
        <activity android:name="dam.app.activity.ActivityReserves" android:label="RESERVAS" />
        <activity android:name="dam.app.activity.ActivityLogin" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>